@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

:root {
    --headerFont: 'Nunito', sans-serif;
    --bodyFont: 'Montserrat', sans-serif;
    --textColor: #eee;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, rgb(0, 7, 68), 5%, rgb(0, 0, 0), 95%,  rgb(33, 0, 56));
    background-repeat: no-repeat;
    /* height: 300vh; */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, li {
    font-family: var(--headerFont);
}

nav {
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    backdrop-filter: blur(3px);
}

nav, nav ul {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
}

nav ul {
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
    list-style: none;
    grid-template-areas: "name name . section1 section2 section3 section4";
}

nav li {
    width: 100%;
    justify-self: flex-end;
}

nav a {
    display: inline-block;
    color: var(--textColor);
    text-decoration: none;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    transition-duration: 0.2s;
}

nav a:hover { background:rgba(0, 0, 0, 0.3); }
nav h2 a:hover { background:rgba(0, 0, 0, 0.0); }

nav h2 {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4.5em;
    color: var(--textColor);
    text-align: center;
}

#title h1 {
    margin: 3em auto;
}

hr {
    color: var(--textColor);
}

.item1, .item2 {
    margin: 6em 12em;
    display: flex;
    height: 400px;
}

.item1 img, .item2 img {
    border-radius: 25px;
    flex: 0 0 800px;
}

.item1 p, .item2 p {
    width: 600px;
    margin: 25px 0;
    color: var(--textColor);
    font-size: 1.2em;
    font-family: var(--bodyFont);
}

.item1 h2, .item2 h2 {
    color: var(--textColor);
    text-align: center;
    margin-top: 0;
    font-size: 2em;
}

.item1 .box { order: 2; }
.item2 .box { order: 0; }
.item1 p { text-align: left;}
.item2 p { text-align: right;}
.item1 img { text-align: left; order: 0; }
.item2 img { text-align: right; order: 2; }

.item1 .vr, .item2 .vr {
    height: 350px;
    background: var(--textColor);
    flex: 0 0 2px;
    margin: 25px 4em;
    order: 1;
}